/*
Anotações - Seletores  

Existem diversas formas de selecionar elementos HTML no CSS. Abaixo temos todas as formas de selecionar:  
  - **Seletor Universal (*):** Seleciona todos os elementos 
  - **Seletor de agrupamento (,):** Permite aplicar o mesmo estilo a múltiplos elementos simultaneamente.  
  - **Seleção interna:** Para selecionar um elemento dentro de outro, basta escrever os elementos 
  em ordem hierárquica, separados por um espaço.  
  - **Seletor por tag:** Seleciona todos os elementos de um tipo específico
  - **Seletor de class (.):** Seleciona todos os elementos com uma classe específica
  - **Seletor de ID (#):** Seleciona elementos com um ID específico (único da página)
  - **Seletor Filho (>):** Seleciona apenas os elementos que são filhos diretos do elemento específicado
  - **Seletor de irmãos gerais (~):** Seleciona todos os elementos que são irmãos do elemento específicado
  - **Seletor de atributo ([atributo]):** Seleciona elementos que possuem um determinado atributo
  - **Seletor pseudo-elemento (::):** Aplica estilos a partes específicas de um  elemento
  - **Seletor pseudo-class (:):** Aplica estilos a elementos em estados específicos
*/

:root {
  --black: #000000;
}

a {
  color: var(--black);
  text-decoration: none;
}