/*
  Grid
  Com display: grid, é possível definirmos colunas e linhas para organizarmos
  os elementos que estiverem dentro do grid

  - grid-template-columns
    Define o total de colunas e o tamanho de cada uma
  
  - fr
    fr é uma unidade fracionária que terá como objetivo distribuir o espaço restante,
    entre os elementos do grid.
  
  - gap
    Cria uma distância entre os elementos do grid, tanto horizontal quanto vertical.
    
  Links de guias importantes
    - https://www.origamid.com/projetos/grid/
    - https://www.origamid.com/projetos/css-grid-layout-guia-completo/
    - https://grid.malven.co/ (está um pouco desatualizado)
    - https://css-tricks.com/snippets/css/complete-guide-grid/
*/

.title {
  text-align: center;
  padding: 20px 0;
  background-color: #A8F;
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 16px;
}

.item {
  display: grid;
  background-color: #F7F7F7;
  border: 1px solid #E7E7E7;
  padding: 20px;
  border-radius: 4px;
}

.img {
  max-width: 100%;
}

.buy {
  background-color: #A8F;
  padding: 10px 20px;
  color: #103;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}