body {
  margin: 0;
  padding: 0;
  background-color: #545454;
}

div {
  width: 140px;
  height: 80px;
  margin: 30px;
  padding: 20px;
  background-color: #DBDBDB;
  border: 10px solid #1F1E1E;
}

h1 {
  margin: 40px;
  padding: 20px;
  border: 4px solid #1F1E1E;
  background-color: #a64747;
}